<nav class="navbar navbar-expand-md navbar-light border-bottom border-2 border-md-3 border-primary py-3 py-md-7">
  <div class="container">
    <div class="d-flex align-items-center">
      <h1 class="me-7 me-lg-12">
        <a href="index.html" class="d-flex align-items-center hover">
          <img src="../assets/images/logo.png" alt="logo" class="logo me-md-4"><span class="d-none d-lg-block fs-4 me-1">7TAO</span><span class="d-none d-lg-block fs-8 fw-bold">活動訂票網</span>
        </a>
      </h1>
      <div class="input-group w-207 w-md-335">
        <input type="text" class="form-control px-md-7 py-md-4" placeholder="探索活動">
        <button class="btn btn-primary link-secondary fs-8 fs-md-7 p-md-4" type="button">
          <i class="icofont-search-1"></i>
        </button>
      </div>
    </div>
    <button class="navbar-toggler rounded-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto px-3 px-md-0 py-4 py-md-0">
        <li class="nav-item">
          <a class="nav-link fs-7 hover-link" href="#">
            <i class="icofont-ui-file me-1"></i>REGISTER
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-7 hover-link pe-0" href="login.html">
            <i class="icofont-ui-user me-1"></i>LOGIN
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>